.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 250px;
}

.container h2 {
  color: white;
}

.gridItem {
  display: flex;
  position: relative;
  overflow: hidden;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 180px;
  height: 180px;
  border-radius: 10px;
  border: 4px #7f53ACCC solid;
  color: white;
  font-size: 14px;
  margin-right: 1em;
}

.gridItem button {
  width: 75%;
  height: 30px;
  border-radius: 10px;
  border: 0;
  margin: 1em;
}

.gridItemContent{
  position: absolute;
  display: flex;
}